* {
	font-family: 'Roboto', sans-serif;
	margin:0px;
	padding:0px;
}

body {
	display:flex;
	flex-direction:column;
}

div {
	position:relative;
	z-index:2;
}

img {
	display:inline;
	margin:0 auto;
	height:100%;
	width:auto;
}

input {
	border:1px solid black;
}

h3 {
	color:#002E5D;
	margin:2vh 8px;
	text-align:center;
}

h4 {
	font-weight:300;
}

.header-container {
	z-index:999;
}

.header {
	background-color:#FFF;
	height:10vh;
	width:100%;
	position:fixed;
	top:0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.title-box {
	background-color:#002E5D;
	width:100%;
	height:23vh;
	top:10vh;
}

.content-container {
	min-height:70vh;
	/*
	background-color:#FFF;
	opacity:0.85;
	*/
	width:100%;
	background-color:#E5E5E5;
	display:flex;
	flex-direction:column;
}

.content-box {
	width:100%;
	height:100%;
	background-color:#FFF;
	display:flex;
	flex-direction:column;
}

input, textarea, select {
	margin-right:16px;
}

.flex-outer li {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + * {
  flex: 1 0 220px;
}
.content-box * {
  box-sizing: border-box;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  /*font-weight: 300;*/
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  /*border: none;*/
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  /*color: #f2f2f2;*/
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

#submitBox {
	display:flex;
	justify-content:center;
}

#submitBox input {
	background-color:#0062B8;
	border:none;
	color:#FFF;
	margin-bottom:2vh;
}

#submitted {
	display:none;
	text-align:left;
}

#submitted div {
	margin:3vh;
}

#submitted div h2 {
	margin-bottom:2vh;
}

#submitted div h3 {
	text-align:left;
	margin:0;
}

.footer {
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	background-color:#002E5D;
	height:5vh;
	width:100%;
}

.footer img {
	width:auto;
	height:20%;
}

.footer a, p {
	text-decoration:none;
	color:#000;
	font-size:.5em;
	margin-top:.5vh;
}


#audition-title {
	color:#FFF;
	margin-top:4vh;
	text-transform:uppercase;
	font-size:2em;	
	margin-left:4vw;
}
	
.header .logo-holder {
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:56px;
	background-repeat:no-repeat;
	margin-left:3vw;
}

.border {
	margin:3vw;
	border-left:2px solid #002E5D;
}

.header img {
	max-width:50px;
	min-height:20px;
	height:auto;
	width:100%;
}

.department-header {
	display:flex;
	justify-content:center;
	align-items:center;
}

#page-header {
	color:#000;
	font-weight:400;
	text-align:left;
	margin:0;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position;
}

li {
	display:inline-block;
	margin-right:1px;
}

li a {
	display:block;
	height:8vh;
	text-align:center;
	line-height:8vh;
	text-decoration:none;
	color:#000;
}

li:hover a {
	opacity:.5;
}

#logo-box {
	display:flex;
}

#navbar {
	display:none;
}

#hamburger-container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}

#hamburger-container img {
	height:50%;
	width:auto;
	margin-right:3vh;
}

.dropdown-content {
	display:none;
	position:absolute; 
	background-color:#FFF;
	min-width:30vw;
	box-shadow:0px 8px 0px 0px rgba(0,0,0,0.2);
	z-index:1;
	right:0;
	top:10vh;
}

.dropdown-content a {
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}

.dropdown-content a:hover {
	opacity:0.8;
}

.show {
	display:block;
}

.menu-option {
	margin:0vw 3vw;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header {
		height:68px;
	}
	.title-box {
		top:68px;
		height:25vh;
	}
	.content-container {
	}

	.content-wrapper {
		background-color:#FFF;
		width:76vw;
		height:100%;
		margin:0vh 12vw;
		margin-bottom:4vh;
	}

	.content-box {
		height:auto;
		width:76vw;
		z-index:3;
		top:-3vh;
	}

	#audition-title {
		margin-left:12vw;
		font-size:2.5em;	
	}
	.header .logo-holder {
		margin-left:2vw;
	}
	.border {
		margin:2vh;
		border-left:2px solid #002E5D;
	}
	#hamburger {
		display:none;
	}
	#navbar {
		display:flex;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}







