* {
	font-family: 'Roboto', sans-serif;
	margin:0px;
	padding:0px;
}

body {
}

div {
	position:relative;
	z-index:2;
}
.page {
	display:flex; 
	flex-direction:column;
}

.header-container {
	z-index:999;
}

.header {
	background-color:#FFF;
	height:10vh;
	width:100%;
	position:fixed;
	top:0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	display:flex;
	flex-direction:row;
}

.content-container {
	min-height:75vh;
	background-color:#FFF;
	opacity:0.85;
	display:flex;
	flex-direction:column;
}

.content-box {
	width:86vw;
	height:20vh;
	background-color:#0062B8;
	margin-left:7vw;
	margin-top:10vh;
	z-index:3;
}

.content {
}

.footer {
	background-color:#666666;
	height:5vh;
	width:100%;
}

#cover-pic-container {
	height:90vh;
	width:100%;
	background-position:center center;
	overflow:hidden;
	
	position:fixed;
	top:10vh;
}

#spacer {
	margin-top:90vh;
	height:10vh;
	width:100%;
	display:flex;
	flex-direction:row;
}

#left-space {
	height:100%;
	width:70vw;
	background-color:#002E5D;

	display:flex;
	justify-content:center;
	align-items:center;
}

#intro {
	color:#fff;
}

#right-space {
	height:100%;
	width:30vw;
	background-color:#fff;
	opacity:0.85;
}

#cover-pic-container img {
	background-position:center center;
	background-repeat:no-repeat;
	object-fit:cover;
	height:100%;
	width:100%;
}

#page-header {
	font-weight:400;
}

.header .logo-holder {
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:56px;
	background-repeat:no-repeat;
	margin-left:3vw;
}

.border {
	margin:3vw;
	border-left:2px solid #002E5D;
}

.header img {
	max-width:50px;
	min-height:20px;
	height:auto;
	width:100%;
}

.department-header {
	display:flex;
	justify-content:center;
	align-items:center;
}


	

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header {
		height:68px;
	}
	#cover-pic-container {
		top:68px;
	}
	.header .logo-holder {
		margin-left:2vw;
	}
	.border {
		margin:2vh;
		border-left:2px solid #002E5D;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


