* {
	font-family: 'Roboto', sans-serif;
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
}
body {
}
div {
	position:relative;
	z-index:2;
}
.page {
	display:flex; 
	flex-direction:column;
}
.header-container {
	z-index:999;
}
.header {
	background-color:#FFF;
	height:10vh;
	width:100%;
	position:fixed;
	top:0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position;
}
li {
	display:inline-block;
	margin-right:1px;
}
li a {
	display:block;
	height:8vh;
	text-align:center;
	line-height:8vh;
	text-decoration:none;
	color:#000;
}
li:hover a {
	opacity:.5;
}
#logo-box {
	display:flex;
}
#navbar {
	display:none;
}
#hamburger-container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}
#hamburger-container img {
	height:50%;
	width:auto;
	margin-right:3vh;
}
.dropdown-content {
	display:none;
	position:absolute; 
	background-color:#FFF;
	min-width:30vw;
	z-index:1;
	right:0;
	top:10vh;
}
.dropdown-content a {
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}
.show {
	display:block;
}
.menu-option {
	margin:0vw 3vw;
}
.content-container {
	min-height:78vh;
	background-color:rgba(255,255,255,0.85);
	display:flex;
	flex-direction:column;
}
.footer {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color:#002E5D;
	height:7vh;
	width:100%;
}
.footer a, p {
	text-decoration:none;
	color:#000;
	font-size:.5em;
	margin-top:.5vh;
}
.footer img {
	width:auto;
	height:20%;
}
#cover-pic-container {
	height:90vh;
	width:100%;
	background-position:center center;
	overflow:hidden;
	position:fixed;
	top:10vh;
}
#spacer {
	margin-top:90vh;
	height:10vh;
	width:100%;
	display:flex;
	flex-direction:row;
}
#left-space {
	height:100%;
	width:70vw;
	background-color:#002E5D;
	display:flex;
	justify-content:center;
	align-items:center;
}
#intro {
	color:#fff;
}
#right-space {
	height:100%;
	width:30vw;
	background-color:#fff;
	opacity:0.85;
}
#cover-pic-container img {
	background-position:center center;
	background-repeat:no-repeat;
	object-fit:cover;
	height:100%;
	width:100%;
}
#page-header {
	font-weight:400;
}
.header .logo-holder {
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:56px;
	background-repeat:no-repeat;
	margin-left:3vw;
}
.border {
	margin:3vw;
	border-left:2px solid #002E5D;
}
.header img {
	max-width:50px;
	min-height:20px;
	height:auto;
	width:100%;
}
.department-header {
	display:flex;
	justify-content:center;
	align-items:center;
}
.content-box {
	width:80vw;
	height:60vh;
	margin-left:10vw;
	margin-top:10vh;
	z-index:3;
	margin-bottom:4vh;
	background-color:rgba(255,255,255,1);
}
.content a {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
}
.text-container {
	width:80vw;
	height:20vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	color:#002E5D;
}
.text-container div h2 {
	margin-left:2vw;
	margin-bottom:2vh;
}
.text-container h4 {
	margin-left:2vw;
	color:#002E5D;
}
.img-container {
}
.img-container img {
	width:80vw;
	height:40vh;
	object-fit:cover;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header {
		height:68px;
	}
	#cover-pic-container {
		top:68px;
	}
	.header .logo-holder {
		margin-left:2vw;
	}
	.border {
		margin:2vh;
		border-left:2px solid #002E5D;
	}
	#hamburger {
		display:none;
	}
	#navbar {
		display:flex;
	}
	.content-box {
		height:50vh;
	}
	.text-container {
		width:40vw;
		height:50vh;
		align-items:center;
	}
	.text-container div h2 {
		text-align:left;
	}
	.text-container div {
		width:22vw;
	}
	.text-container h4 {
		width:20vw;
	}
	.img-container img {
		width:40vw;
		height:50vh;
		object-fit:cover;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}




